@import "./tool.scss";

html,
body {
  color: #373d4a;
  background-color: #8e938f;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  font-family: Roboto, sans-serif;
}

input,
textarea {
  outline: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

a,
a:active,
a:focus {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
}

a:visited,
a:hover {
  text-decoration: none;
}

nav,
footer,
header,
aside {
  display: block;
}

button {
  background-color: inherit;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  margin: 0;
  border: 0;
}

ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

#root {
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  .editorContainer {
    margin-bottom: 20px;
    max-width: 767px;
    width: 100%;
    max-height: 440px;
    height: 100%;

    #editor {
      background-color: inherit;
      padding: 10px;
      border: 2px solid #767671;
      font-size: 16px;
      letter-spacing: 2px;
      box-shadow: 5px 3px 2px #767671;
      width: 100%;
      height: 100%;
    }
  }
  .previewerConteiner {
    max-width: 947px;
    width: 100%;
    max-height: 440px;
    height: 100%;

    #preview {
      line-height: 2.5;
      padding: 15px 10px 25px 15px;
      font-size: 16px;
      letter-spacing: 2px;
      box-shadow: 5px 3px 2px #767671;
      border: 2px solid #767671;
      width: 100%;
      height: 100%;

      blockquote {
        border-left: 3px solid #224b4b;
        color: #224b4b;
        padding-left: 5px;
        margin-left: 25px;
      }
      p > code {
        padding: 5px 8px;
      }
      pre {
        border-radius: 5px;
        display: block;
        overflow: auto;
        background-color: rgba(55, 61, 74, 1);
        padding: 5px 8px;
        line-height: 1.2;
      }
      code {
        border-radius: 5px;
        background-color: rgba(55, 61, 74, 1);
        color: #f2f6f2;
        font-size: 0.875rem;
        font-weight: bold;
      }
      h1 {
        border-bottom: 2px solid #224b4b;
      }
      h2 {
        border-bottom: 1px solid #224b4b;
      }
      table {
        border-collapse: collapse;
      }
      td,
      th {
        border: 2px solid #224b4b;
        padding-left: 5px;
        padding-right: 5px;
      }
      img {
        display: block;
        max-width: 90%;
        margin: 2rem auto;
      }
      ol {
        padding-left: 25px;
      }
      a {
        color: inherit;
        text-decoration: underline;
      }
    }
  }
}
